{{template "header" .}}

{{template "title" "Your One-Time Secret"}}

<script>
    function copyHash () {
        let hash = document.getElementById("hash");
        hash.select();
        navigator.clipboard.writeText(hash.value);
        document.getElementById("copiedText").hidden = false;
    }
</script>

<script>
    function copyLink () {
        navigator.clipboard.writeText(window.location.href);
        document.getElementById("copiedText").hidden = false;
    }
</script>

{{if .Hash}}
<p>Hash is only displayed once.</p>

<div style="height:75px;">
    <div class="field label border suffix">
        <label>Bcrypt (12) Hash</label>
        <input id="hash" type="text" value="{{.Hash}}" />
        <i style="z-index:100;" onClick="copyHash()">content_copy</i>
    </div>

    <p id="copiedText" style="top:-30px;" hidden>Hash copied to clipboard.</p>
</div>

{{end}}

<p>Secret can only be claimed once.</p>

<form method="post" action="/claim/{{.ID}}">
    <button class="margin"><i>lock_open</i> Claim</button>
</form>

<button onclick="copyLink()"><i>content_copy</i> Share</button>

<p id="copiedText" hidden>Link copied to clipboard.</p>

</body>

{{template "footer" .}}
